<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="util.CustomTestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Masou/Desktop/Projects/QA/opencart">
        <classes>
            <class name="dev.habibzad.tests.LoginPageTest">
                <methods>
                    <include name="loginPageTestWithValidCredentials"/>
                    <include name="loginPageTestWithInValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>